.cta {
  margin: 0;
  border: none;
  padding: 15px 50px;
  border-radius: 5px;
  border: 0.1em solid black;
  background: white;
  color: black;
  font-family: "Ogg";
  font-weight: 1700;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
}

.cta:hover {
  color: white;
  background: black;
  border: 0.1em solid black;
}
