.contact {
  height: 15vh;
}

.contact__head {
  font-family: "Aeonik-Regular";
  font-weight: 500;
  font-size: 24px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 36px;
}

.contact__txt {
  color: white;
  opacity: 0.6;
  text-align: center;
  font-family: "Aeonik-Regular";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.33px;
  margin-top: 36px;
  max-width: 310px;
}

.btn__contact--wrapper {
  display: flex;
  flex-direction: column;
}

.btn__contact {
  font-family: Chapeau-Medium;
  font-weight: 500;
  font-size: 16px;
  color: white;
  letter-spacing: 1.14px;
  text-align: left;
  line-height: 24px;
  text-transform: uppercase;
  border: 0;
  border-bottom: 2px white solid;
  background: black;
  width: 300px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: 150ms ease-in-out;
}

.btn__contact:after {
  position: relative;
  content: "\2192";
  color: white;
  transition: 150ms ease-in-out;
  margin-left: 20px;
  float: right;
}

.btn__contact:hover:after {
  transition: 150ms ease-in-out;
  color: black;
}

.btn__contact:hover {
  border-bottom: 2px black solid;
  transition: 150ms ease-in-out;
}

.marquee {
  color: var(--white);
}

/* TABLET VERSION */

@media (min-width: 768px) and (max-width: 1024px) {
  .contact__head {
    font-size: 32px;
  }

  .btn__contact--wrapper {
    display: flex;
    align-content: left;
    justify-content: space-between;

    width: 400px;
    margin: 0;
  }
}

/* DESKTOP VERSION */

@media (min-width: 1024px) {
  .contact {
    /* margin-top: 120px; */
  }

  .contact__head {
    font-size: 32px;
  }

  .contact__txt {
    font-size: 15px;
    line-height: 26px;
  }

  .btn__contact--wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: left;
    width: 400px;
    margin: 0;
  }

  @media (min-width: 2560px) {
    .contact {
      padding-left: 24vw;
      padding-right: 24vw;
    }

    .btn__contact--wrapper {
      display: flex;
      align-content: left;
      justify-content: space-between;
      align-items: left;
      width: 400px;
      margin: 0;
    }
  }
}
