.solutions img {
  box-shadow: 10px 10px 10px rgba(68, 68, 68, 0.3),
    10px 10px 10px rgba(68, 68, 68, 0.6);
  width: 100%;
  height: auto;
}

.solutions img {
  margin: 10px 0;
}

.solutions a {
  color: white;
}

.solutions a:hover {
  color: black;
}

@media (min-width: 768px) {
  .solutions img {
    margin: 10px 0;
  }
}

@media (min-width: 1200px) {
  .solutions img {
    max-width: 40%;
    margin: 10px 10px;
  }
}
